@model RedStone.Models.ServerProperties

@{
    ViewData["Title"] = "Create";
}



<h4>Server.Properties</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="servername" class="control-label"></label>
                <input asp-for="servername" class="form-control" />
                <span asp-validation-for="servername" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="gamemode" class="control-label"></label>
                <input asp-for="gamemode" class="form-control" />
                <span asp-validation-for="gamemode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="force_gamemode" class="control-label"></label>
                <input asp-for="force_gamemode" class="form-control" />
                <span asp-validation-for="force_gamemode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="difficulty" class="control-label"></label>
                <input asp-for="difficulty" class="form-control" />
                <span asp-validation-for="difficulty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="allow_cheats" class="control-label"></label>
                <input asp-for="allow_cheats" class="form-control" />
                <span asp-validation-for="allow_cheats" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="max_players" class="control-label"></label>
                <input asp-for="max_players" class="form-control" />
                <span asp-validation-for="max_players" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="online_mode" class="control-label"></label>
                <input asp-for="online_mode" class="form-control" />
                <span asp-validation-for="online_mode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="white_list" class="control-label"></label>
                <input asp-for="white_list" class="form-control" />
                <span asp-validation-for="white_list" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="server_port" class="control-label"></label>
                <input asp-for="server_port" class="form-control" />
                <span asp-validation-for="server_port" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="server_portv6" class="control-label"></label>
                <input asp-for="server_portv6" class="form-control" />
                <span asp-validation-for="server_portv6" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="view_distance" class="control-label"></label>
                <input asp-for="view_distance" class="form-control" />
                <span asp-validation-for="view_distance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tick_distance" class="control-label"></label>
                <input asp-for="tick_distance" class="form-control" />
                <span asp-validation-for="tick_distance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="player_idle_timeout" class="control-label"></label>
                <input asp-for="player_idle_timeout" class="form-control" />
                <span asp-validation-for="player_idle_timeout" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="max_threads" class="control-label"></label>
                <input asp-for="max_threads" class="form-control" />
                <span asp-validation-for="max_threads" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="level_name" class="control-label"></label>
                <input asp-for="level_name" class="form-control" />
                <span asp-validation-for="level_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="level_seed" class="control-label"></label>
                <input asp-for="level_seed" class="form-control" />
                <span asp-validation-for="level_seed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="default_layer_permission_level" class="control-label"></label>
                <input asp-for="default_layer_permission_level" class="form-control" />
                <span asp-validation-for="default_layer_permission_level" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="texturepack_required" class="control-label"></label>
                <input asp-for="texturepack_required" class="form-control" />
                <span asp-validation-for="texturepack_required" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="content_log_file_enabled" class="control-label"></label>
                <input asp-for="content_log_file_enabled" class="form-control" />
                <span asp-validation-for="content_log_file_enabled" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="compression_threshold" class="control-label"></label>
                <input asp-for="compression_threshold" class="form-control" />
                <span asp-validation-for="compression_threshold" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="server_authoritative_movement" class="control-label"></label>
                <input asp-for="server_authoritative_movement" class="form-control" />
                <span asp-validation-for="server_authoritative_movement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="player_movement_score_threshold" class="control-label"></label>
                <input asp-for="player_movement_score_threshold" class="form-control" />
                <span asp-validation-for="player_movement_score_threshold" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="player_movement_distance_threshold" class="control-label"></label>
                <input asp-for="player_movement_distance_threshold" class="form-control" />
                <span asp-validation-for="player_movement_distance_threshold" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="player_movement_duration_threshold_in_ms" class="control-label"></label>
                <input asp-for="player_movement_duration_threshold_in_ms" class="form-control" />
                <span asp-validation-for="player_movement_duration_threshold_in_ms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="correct_player_movement" class="control-label"></label>
                <input asp-for="correct_player_movement" class="form-control" />
                <span asp-validation-for="correct_player_movement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="server_authoritative_block_breaking" class="control-label"></label>
                <input asp-for="server_authoritative_block_breaking" class="form-control" />
                <span asp-validation-for="server_authoritative_block_breaking" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
